:root {
    /* Acentos dorados */
    --A-light: #F4D87A;
    --textT: #D99E2B;

    /* Fondos */
    --bg-navy: #1A1830;
    --bg-hero: #3A2A50;

    /* Superficies / tarjetas */
    --card-light: #483060;
    --border-lila: #604860;

    /* Texto */
    --negro: #0E0E1F;
    --blanco: #F5F3F8;
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*este se utiliza para que el conteo de tamño sea solo el recuadro*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*el font-size de 62.5% con el body en 16px ajustan el valor del rem para poderlo manejar que sea equivalente a 10px */

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: var(--blanco);
    font-size: 5rem;
    line-height: 1;
    /* junta las líneas */


}

h1 span {
    display: block;
    color: var(--textT);
}

h2 {
    font-size: 3rem;
    color: var(--textT);
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2.4rem;
    color: var(--blanco);
    margin-bottom: 1rem;
}

footer h3 {
    color: var(--textT);
    margin-bottom: .5rem;
}

h4 {
    color: var(--A-light);
}

p {
    color: var(--blanco);
    margin-bottom: 3rem;
}



a {
    text-decoration: none;
    color: var(--blanco);
}

footer a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.boton {
    background-color: var(--A-light);
    text-decoration: none;
    color: var(--negro);
    padding: 1rem;
    border-radius: 1rem;
    margin: 2.5rem 2rem;

}

.boton2 {
    background-color: var(--bg-hero);
    text-decoration: none;
    color: var(--blanco);
    border-radius: 1rem;
    padding: .7rem;
    border: var(--blanco) solid;
    margin: 2.5rem 0;
}


.hero {
    background-image: url(../img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* horizontal, vertical*/

    min-height: 90vh;

    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .hero {
        min-height: 75rem;
        background-position: center 1%;
        min-height: 90vh;
    }
}



.nav-bg {
    /* este es un utility class */
    background-color: var(--bg-navy);
}

.navegacion-principal .logo {
    color: var(--textT);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.urls {
    display: flex;
    flex-direction: column;
}


@media (min-width:768px) {

    .urls {
        flex-direction: row;
        gap: 1rem;
    }

    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;

        align-items: center;
        padding: 1rem 2rem;
    }

    .navegacion-principal .urls a:hover {
        border-radius: 1rem;
    }
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center;
}

.navegacion-principal .urls a:hover {
    background-color: var(--card);
    color: var(--blanco);
}


.contenido-hero {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    padding: 0 2rem;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .contenido-hero {
        align-items: flex-start;
        padding: 0 5rem;
        gap: 2rem;
        text-align: left;
    }
}

.contenido-hero p {
    margin: 0;
}


h1 {
    color: var(--blanco);
    font-size: 3.2rem;
    line-height: 1.1;
    /* junta las líneas */
    padding: 0;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

.contenido-hero h1,
.contenido-hero p {
    max-width: 50rem;
}

/* Párrafo */
.contenido-hero p {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .contenido-hero p {
        font-size: 1.8rem;
    }
}


.contenedor .p {
    margin: 3rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--bg-hero);
    padding: 4rem 2rem;
}



@media (min-width: 768px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 180rem;
        gap: 4rem;
        align-items: start;
    }
}

/* Tarjetas grandes (main) */
.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

.tarjeta {
    background-color: var(--card);
    border: 1px solid var(--border-lila);
    border-radius: 1.2rem;
    padding: 2rem;
    min-height: 40rem;
}


.lateral .tarjeta {
    background-color: var(--card);
    border: 1px solid var(--border-lila);
    border-radius: 1.2rem;
    padding: 2rem;
    min-height: 30rem;
    max-width: 25rem;
}


.tarjeta1 {
    background-image: url(../img/tarjeta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 19%;
}

.tarjeta2 {
    background-image: url(../img/tarjeta2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 19%;
}

.tarjetaL {
    background-image: url(../img/tarjetaL.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 4%;
}

.tarjetaL2 {
    background-image: url(../img/tarjetaL2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
}

/*Tarjetas pequeñas (lateral)*/
.tarjetasSM {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin-top: 4rem;
}

.tarjetaSM {
    background-color: var(--card-light);
    border: 1px solid var(--border-lila);
    border-radius: 1rem;
    padding: 1.5rem;
}


footer {
    background-color: var(--bg-navy);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
    text-align: center;
}

@media (min-width:768px){
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}